{
    "version" : "2017-02-28",
    "operation" : "Scan",
    "filter": {
      "expression": "userId = :uid",
      "expressionValues": {
        ":uid": $util.dynamodb.toDynamoDBJson($ctx.args.userId)
      }
    }
}